# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Ignore NuGet packages
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Rider IDE files
.idea/
*.sln.iml

# Ignore Visual Studio Code files
.vscode/

# Ignore local history
.localhistory/

# Ignore temporary files
*.tmp
*.temp

# Ignore coverage results
coverage/
*.coverage
*.coveragexml
*.log
TestResults/

# Ignore publish directory
publish/

# Ignore environment variable files
.env
.env.*

# Ignore OS-specific files
.DS_Store
Thumbs.db